plotly==5.1.0
streamlit
streamlit-webrtc
hydralit
hydralit_components
natsort==7.1.1
colorlover==0.3.0
spacy==3.2.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz#egg=en_core_web_sm
nltk==3.6.5
spacytextblob
wordcloud==1.8.1
gensim==4.1.2
textblob==0.15.3
scikit-learn==1.0.1
multi_rake==0.0.2
textdescriptives==1.0.6
tensorflow==2.7.0
